#{{ ansible_managed }}
127.0.0.1 localhost
127.0.1.1 {{ ansible_hostname }}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

#Storage Servers
172.16.67.217 cicss01.douglas.rtss.qc.ca cicss01
172.16.67.218 cicss02.douglas.rtss.qc.ca cicss02

#Login/User Servers
172.16.67.215 cicus01.douglas.rtss.qc.ca cicus01
172.16.67.216 cicus02.douglas.rtss.qc.ca cicus02

#Backup Servers
172.16.67.219 cicbs01.douglas.rtss.qc.ca cicbs01

#Mallar Workstations
172.16.133.223  cicws23.douglas.rtss.qc.ca cicws23 ws23 mc01
172.16.133.224  cicws24.douglas.rtss.qc.ca cicws24 ws24 mc02
172.16.133.225  cicws25.douglas.rtss.qc.ca cicws25 ws25 mc03
172.16.133.226  cicws26.douglas.rtss.qc.ca cicws26 ws26 mc04
172.16.133.227  cicws27.douglas.rtss.qc.ca cicws27 ws27 mc05
172.16.133.228  cicws28.douglas.rtss.qc.ca cicws28 ws28 mc06
172.16.133.229  cicws29.douglas.rtss.qc.ca cicws29 ws29 mc07
172.16.133.230  cicws30.douglas.rtss.qc.ca cicws30 ws30 mc08
