---

- name: config use mozilla firefox binary
  copy: src=files/mozillateamppa dest=/etc/apt/preferences.d/mozillateamppa

- name: add ppa repos
  command: apt-add-repository -y -n {{ item }}
  with_items:
    - ppa:lubuntu-dev/backports
    - ppa:obsproject/obs-studio
    - ppa:mozillateam/ppa
    - ppa:ubuntuhandbook1/gimp-3
    - ppa:yubico/stable
    - ppa:inkscape.dev/stable
    - ppa:libreoffice/ppa
    - ppa:x2go/stable
    - ppa:flatpak/stable
    - ppa:graphics-drivers/ppa
    - ppa:dtl131/nvidiaexp

- name: Add wezterm repo
  ansible.builtin.deb822_repository:
    name: wezterm
    uris: https://apt.fury.io/wez
    suites: "*"
    components: "*"
    architectures: amd64
    signed_by: https://apt.fury.io/wez/gpg.key

- name: Add turbovnc repo
  ansible.builtin.deb822_repository:
    name: turbovnc
    uris: https://packagecloud.io/dcommander/turbovnc/any
    suites: any
    components: main
    architectures: amd64
    signed_by: https://packagecloud.io/dcommander/turbovnc/gpgkey

- name: Add xpra repo
  ansible.builtin.deb822_repository:
    name: xpra
    uris: https://xpra.org
    suites: "{{ ansible_distribution_release }}"
    components: main
    architectures: amd64
    signed_by: https://xpra.org/xpra.asc

- name: Add virtualgl repo
  ansible.builtin.deb822_repository:
    name: virtualgl
    uris: https://packagecloud.io/dcommander/virtualgl/any
    suites: any
    components: main
    architectures: amd64
    signed_by: https://packagecloud.io/dcommander/virtualgl/gpgkey

- name: Add zoom unofficial repo
  ansible.builtin.deb822_repository:
    name: zoom
    uris: https://mirror.mwt.me/zoom/deb
    suites: any
    components: main
    architectures: amd64
    signed_by: https://mirror.mwt.me/zoom/gpgkey

- name: Add i3 repo
  ansible.builtin.deb822_repository:
    name: i3
    uris: http://debian.sur5r.net/i3/
    suites: "{{ ansible_distribution_release }}"
    components: universe
    architectures: amd64
    signed_by: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xbfd90f4daaefa72b67bbaf48e3ca1a89941c42e6

- name: Add brave repo
  ansible.builtin.deb822_repository:
    name: brave
    uris: https://brave-browser-apt-release.s3.brave.com/
    suites: stable
    components: main
    architectures: amd64
    signed_by: https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg

- name: Add vscode repo
  ansible.builtin.deb822_repository:
    name: vscode
    uris: https://packages.microsoft.com/repos/code
    suites: stable
    components: main
    architectures: amd64
    signed_by: https://packages.microsoft.com/keys/microsoft.asc

- name: disable chrome add repo
  copy:
    content: ""
    dest: /etc/default/google-chrome
    force: true

- name: Add chrome repo
  ansible.builtin.deb822_repository:
    name: chrome
    uris: https://dl.google.com/linux/chrome/deb/
    suites: stable
    components: main
    architectures: amd64
    signed_by: https://dl.google.com/linux/linux_signing_key.pub

# - name: Add bruno repo
#   deb822_repository:
#     name: bruno
#     types: deb
#     uris: http://debian.usebruno.com/
#     suites: bruno
#     components: stable
#     architectures: amd64
#     signed_by: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x9FA6017ECABE0266
