hostname          {{ item }}.douglas.rtss.qc.ca
load_scaling      NONE
user_lists        NONE
xuser_lists       NONE
projects          NONE
xprojects         NONE
usage_scaling     NONE
report_variables  NONE
complex_values    slots=4
